# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea directory
.idea/
.idea/*

# Ignore local.properties
local.properties
# Ignore GPG keyring files lol (see the Maven deploy instructions for why this is a thing)
*/secring.kbx