android/*.iml
android/.gradle
android/local.properties
android/.idea/caches/build_file_checksums.ser
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
.DS_Store
/android//build
/android//captures
.externalNativeBuild
/win/*/*/bin
/win/*/*/obj
core/build
core/*.iml
core/.gradle
core/local.properties
core/.idea/caches/build_file_checksums.ser
core/.idea/libraries
core/.idea/modules.xml
core/.idea/workspace.xml